div{
    background-color:rgba(204, 211, 211, 0.671);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 40px;
    margin-left: 30px;
    width: 280px;
    border-radius: 7px;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 15px;
    

}
.heading{
    margin-bottom: 0px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 30px;
}

.para{
    
    margin-bottom: 1px;
    padding-left: 5px;
    text-align: justify;
    padding-bottom: 10px;
}


.text{
    border:solid #ccc;
    padding: 5px;
    width: 255px;
    margin-top: 2px;
    margin-bottom: 4px;
    border-radius: 7px; 
    color: rgb(51, 132, 170);
    
}


.textarea{
    border: 2px solid #ccc;
    padding: 10px;
    padding-top: 20px;
    margin-top: 2px;
    width: 245px;
    border-radius: 7px;
    color: rgb(51, 132, 170);

    }

.Priority{
    border: 2px solid #ccc;
    padding: 5px;
    width: 270px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 7px;
}


.Status{
    border: 2px solid #ccc;
    padding: 5px;
    width: 270px;
    margin-top: 4px;
    margin-bottom: 2px;
    border-radius: 7px;
}


.date{
    border: 2px solid #ccc;
    padding: 5px;
    width: 255px;
    margin-top: 5px;
    margin-bottom: 2px;
    border-radius: 7px;
    color: rgb(51, 132, 170);

}

.submit{
    border: 2px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font: bolder;
    padding: 5px;
    width: 270px;
    background-color: rgb(35, 100, 174);
    color: white;
    margin-top: 5px;
    border-radius: 7px;
    height:35px;
}
