div{
    background-color:rgba(237, 244, 244, 0.671);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    width: 280px;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    height: 680px;
    
}


body{
    margin: 0px;
    padding: 0px;
}

.heading{
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 5px;
    font-size: 30px;
    height: 30px;
    
}

.para{
    
    font-size: 15px;
    padding-left: 5px;
    text-align: justify;
    color: rgb(59, 59, 59);
    height: 30px;
    width: 270px;
    
}


.text{
    border:solid #ccc;
    padding: 5px;
    width: 258px;
    font-size: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 7px; 
    color: rgb(59, 164, 193);
    height: 20px;
    
}


.textarea{
    border: 2px solid #ccc;
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 260px;
    border-radius: 7px;
    color: rgb(59, 164, 193);
    font-size: 11px;
    
    height: 50px;

    }

.priority{
    border: 2px solid #ccc;
    padding: 5px;
    width: 272px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 7px;
    font-size: 10px;
   
    height: 30px;
}


.status{
    border: 2px solid #ccc;
    padding: 5px;
    width: 272px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 7px;
    height: 30px;
    font-size: 10px;
}


.date{
    border: 2px solid #ccc;
    padding: 5px;
    width: 260px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 7px;
    color: rgb(59, 164, 193);
    height: 20px;
    font-size: 10px;

}

.submit{
    border: 2px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font: bolder;
    padding: 5px;
    width: 273px;
    background-color: rgb(58, 137, 228);
    color: white;
    margin-top: 3px;
    border-radius: 7px;
    
    height: 40px;
}
